.concentric-circles {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(0,-50%,0);
  > * {
    position: absolute;
    border-radius: 100%;
    background: rgba(0,0,0,0.035) !important;
    &:nth-child(1) {
      z-index: 4;
      @include corner-circle(30, 0.1)
    }
    &:nth-child(2) {
      z-index: 3;
      @include corner-circle(50, 0.075)
    }
    &:nth-child(3) {
      z-index: 2;
      @include corner-circle(70, 0.05)
    }
    &:nth-child(4) {
      z-index: 1;
      @include corner-circle(90, 0.025)
    }
  }
}